grant {
    permission javax.security.auth.AuthPermission "createLoginContext.Ejercicio6";
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
};

grant Principal Ejercicio6Principal "pedro" {
    permission java.io.FilePermission "fichero.txt", "read, write";
};
