grant {
    permission javax.security.auth.AuthPermission "createLoginContext.Ejemplo6Login";
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission javax.security.auth.AuthPermission "doAsPrivilege";
};

grant Principal EjemploPrincipal "pedro" {
    permission java.io.FilePermission "fichero.txt", "read";
    permission java.io.FilePermission "fichero.txt", "write";
};
